doctype html
html
    head
        block title
            title The Motherfucking English
    body(style="margin: 20px auto; max-width: 650px; line-height: 1.6; font-size: 18px; color: #444; padding: 0 10px;")
        header
            h1 The Motherfucking English
            nav(style="font-size: 1.5em; font-weight: bold;")
                a(href="/") Home
                |&#32;|&#32;
                a(href="/authors") Authors
                |&#32;|&#32;
                a(href="/categories") Categories
                |&#32;|&#32;
                a(href="/about") About
        hr
        main
            block content
                != contents
        hr
        #disqus_thread
            script.
                var disqus_config = function () {
                    this.page.url = 'http://dilwyn-queshire.github.io/';
                    this.page.identifier = 'dilwyn-queshire';
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//dilwynqueshire.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
        hr
        footer
            address The Motherfucking English Lessons Team
