extends default.jade

block title
    title= title
block content
    article
        header
            p= author.map(function(x) { return x.title; }).join(', ')
            h2= title
        != contents
